{% extends 'base.html' %} 

{% block content %}

    <center>
        <h1>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h1>
    </center>
    <body>

        <center>
            <img src="\static\img\fkip.png" height="260px">
        </center>
    </body>

    <h3 style="background-color: rgba(135, 30, 30, 0.568) ;">Sejarah</h3>
    <p style="font-family: 'times new roman'">Fakultas Keguruan dan Ilmu Pendidikan (FKIP) Universitas Sultan Ageng Tirtayasa (Untirta) memiliki 18 program studi. Program studi FKIP terbanyak bidang pendidikan yang Untirta miliki tersebut paling banyak di minati pada Seleksi Nasional Masuk Perguruan Tinggi Negeri (SNMPTN), Seleksi Bersama Masuk Perguruan Tinggi Negeri (SBMPTN) menjadi fakultas yang paling banyak di minati oleh calon mahasiswa baru.</p>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
    <p style="font-family: 'times new roman'">FKIP Untirta sudah ada sejak lama pada awal berdiri FKIP Untirta memiliki dua program studi yakni Program Studi Administrasi Pendidikan (AdPend) dan Program Studi Pendidikan Luar Sekolah (PLS) dengan jenjang pendidikan Sarjana (S.1). FKIP Untirta terus berkembang sesuai dengan tuntutan masyarakat, sehingga FKIP Untirta kembali membuka program studi yakni Program Pendidikan Guru Taman Kanak-kanak (PGTK) pada 1994, dan beberapa tahun kemudian membuka kembali Program Studi Pendidikan Bahasa Inggris, Pendidikan Biologi dan Pendidikan Matematika. Program studi PGTK telah diubah menjadi Program Pendidikan Guru Pendidikan Anak Usia Dini (PGPAUD) dengan surat keputusan Menteri Pendidikan Nasional Nomor: 105/D/O/2010.</p>
    <h3 style="background-color: rgba(118, 59, 119, 0.43);">Tentang Fakultas Keguruan & Ilmu Pendidikan</h3>
    <p style="font-family: 'times new roman'">Fakultas Keguruan dan Ilmu Pendidikan (FKIP) Universitas Sultan Ageng Tirtayasa merupakan fakultas tertua dengan program studi terbanyak di Untirta. Mahasiswa yang terdaftar pada tahun ajaran 2010/2011 tidak lagi didominasi oleh lulusan SMA di Banten tapi juga luar daerah seperti Jakarta, Jawa Barat, Jawa Tengah, Jawa Timur, Lampung, Padang, Medan, dan Palembang. Pengajar banyak didominasi dosen muda dari lulusan universitas terbaik di Indonesia.[perinci lagi] Program studi yang beragam bisa dijadikan acuan bagi para pelajar yang hendak melanjutkan studi di Untirta, khususnya dalam disiplin ilmu pendidikan. Tiap jurusan memiliki jejaring, baik dengan pihak swasta maupun asing dalam usaha peningkatan mutu kualitas lulusan. Lulusan diarahkan untuk menjadi pengajar profesional dengan etika pendidikan yang ada. Lulusan FKIP Untirta telah banyak direkrut oleh lembaga kependidikan swasta maupun asing yang berdomisili di Banten dan sekitarnya.</p>
    <h3 style="background-color: rgba(118, 59, 119, 0.43);">Program Studi</h3>
    
    {% for judul in title %} 
    <li>{{ judul }}</li>
    {% endfor %}

    <style>
        body {
          background-image: linear-gradient(to right, #D75281, #A084CA);
          margin-left: 50px;
          margin-right: 50px;
          padding: 0;
      }
      
      nav {
          top: 0;
          left: 0;
          position: fixed;
          height: 80px;
          width: 100%;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.5);
          border-bottom: 1px solid white;
      }
      
      .logo {
          float: left;
          height: 10px;
          font-size: 36px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          padding: 20px 20px;
          justify-content: space-around;
      }
      
      nav ul {
          margin: 0;
          padding: 0;
          float: right;
          list-style: none;
          display: flex;
      }
      
      nav ul li a {
          font-size: 15px;
          font-weight: bold;
          color: white;
          line-height: 80px;
          text-decoration: none;
          padding: 12px 30px;
      }
      nav ul li a:hover {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.8);
    }
    </style>


{% endblock %}